{% extends 'base.html' %}

{% block title %}SMU Mental Health and Wellness{% endblock %}

{% block content %}
   <section class="jumbotron text-center">
       <div class="container">
           <h1 class="jumbotron-heading">Welcome!</h1>
           <p class="lead text-muted">
           Please login to the platform!
           </p>
           <a class="btn btn-primary my-2" href="#">Login</a>
           <a class="btn btn-secondary my-2" href="#">Sign up</a>
       </div>
   </section>

   <h2>Goals for {{data[0]['name']}}</h2>

   {% for goal in data[1:] %}
       <a href="#"><h2>{{ goal['title'] }}</h2></a>
       <div class="pie" style="--p:{{ (goal['days'] / goal['limit'] * 100) | int }};--c:{{ goal['color'] }}"></div>
       <form action="/update?goal={{ loop.index }}" method="post">
           <button type="submit">Update goal</button>
       </form>
       <hr />
   {% endfor %}


{% endblock %}
