{% extends 'base.html' %}

{% block title %}SMU Mental Health and Wellness{% endblock %}

{% block content %}
    <script 
        src="https://www.unpkg.com/@propelauth/javascript@2.0.11/dist/javascript.min.js" 
        integrity="sha384-FENNH2f7QuQvkZJBL7jebLr0OtYKgTA2iq+C5g3VXXX7SBwWmeMMoc+pBBtcn76G" 
        crossorigin="anonymous"></script>

    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>

   <section class="jumbotron text-center">
       <div class="container">
           <h1 class="jumbotron-heading">Welcome!</h1>
           <p class="lead text-muted">
           Please login to the platform!
           </p>
           <a class="btn btn-primary my-2" href="#">Login</a>
           <a class="btn btn-secondary my-2" href="#">Sign up</a>
       </div>
   </section>

    <!-- Login Status Display -->
    <div id="display-when-logged-out">
        <p>You are not logged in</p>
        <button id="signup">Sign Up</button>
        <button id="login">Login</button>
    </div>
    <div id="display-when-logged-in" style="display: none;">
        <p>You are logged in <span id="email"></span></p>
        <button id="account">Account</button>
        <button id="logout">Logout</button>
    </div>

   {% for post in posts %}
        <a href="#"><h2>{{ post['title'] }}</h2></a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr />
   {% endfor %}
{% endblock %}