{% extends 'base.html' %}

{% block title %}SMU Mental Health and Wellness{% endblock %}

{% block content %}
   <section class="jumbotron text-center">
       <div class="container">
           <h1 class="jumbotron-heading">Welcome!</h1>
           <p class="lead text-muted">
           Please login to the platform!
           </p>
           <a class="btn btn-primary my-2" href="#">Login</a>
           <a class="btn btn-secondary my-2" href="#">Sign up</a>
       </div>
   </section>

   <h2>Goals for {{data[0]['name']}}</h2>

   {% for goal in data[1:] %}
       <a href="#"><h2>{{ goal['title'] }}</h2></a>
       <div class="pie" style="--p:{{ (goal['days'] / goal['limit'] * 100) | int }};--c:{{ goal['color'] }}"></div>
       <form action="/update?goal={{ loop.index }}" method="post">
           <button type="submit">Update goal</button>
       </form>
       <hr />
   {% endfor %}

    <form onsubmit="return setNewGoalAction(this)" method="post">
        <label for="name">Name of goal:</label>
        <input type="text" id="name" name="name" required maxlength="25" size="10" /><br/>
        <label for="type">Type of goal:</label>
        <input type="radio" name="type">Physical</input>
        <input type="radio" name="type">Mental</input><br/>
        <label for="day">Days for goal:</label>
        <input type="checkbox" id="0" name="day">Sunday</input>
        <input type="checkbox" id="1" name="day">Monday</input>
        <input type="checkbox" id="2" name="day">Tuesday</input>
        <input type="checkbox" id="3" name="day">Wednesday</input>
        <input type="checkbox" id="4" name="day">Thursday</input>
        <input type="checkbox" id="5" name="day">Friday</input>
        <input type="checkbox" id="6" name="day">Saturday</input><br/>
        <button type="submit">Add goal</button>
    </form>

    <script>
    function setNewGoalAction(form) {
        let name = document.getElementById("name").value;
        let t = Array.from(document.getElementsByName("type")).map(x => x.checked);
        let type = t[0] ? "physical" : "mental";
        let d = Array.from(document.getElementsByName("day")).map(x => x.checked + 0);
        form.action = "/add?name=" + name + "&type=" + type + "&d0=" + d[0] +
           "&d1=" + d[1] + "&d2=" + d[2] + "&d3=" + d[3] + "&d4=" + d[4] + "&d5=" + d[5] + "&d6=" + d[6];
        return true;
    }
    </script>


{% endblock %}
